<h4> Please create a new garage typing the number of levels ans lots per level you want.</h4>

<%= form_for @garage do |f| %>
  <%= f.label "Number of levels" %>
  <br>
  <%= f.number_field :number_levels %>
  <br>
  <br>
  <%= f.label "Number of lots per level" %>
  <br>
  <%= f.number_field :number_lots %>
  <br>
  <br>
  <%= f.submit "Create" %>  
<% end %>

